{% paginate collection.products by 12 %}
    {% for product in collection.products %}
        <h1>{{product.title}}</h1>
        hello
        {%  else %}
        <h1>there are no products</h1>
    {% endfor %}

{% render 'pagination', pagination: paginate%}
{% endpaginate %}